<section id="contact">
    <div class="container-fluid with-bg-2 no-side-padding">
        <div class="container">
            <div class="footer">
                <div class="row">
                    <div class="col-md-5">
                        <div class="g-heading-v10 g-mb-65">
                            <h2 class="g-color-white"><em class="block-name"><span class="g-color-white">11.</span> Contacto</em> <strong>Contactenos</strong></h2>
                            <p>Utilizando esta vía usted podrá enviarnos sus preguntas o criterios acerca de nuestra aplicación.</p>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <form action="#" method="post" id="sky-form3" class="sky-form contact-style">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-0">
                                        <div class="margin-bottom-30">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                        </div>

                                        <div class="margin-bottom-30">
                                            <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-md-offset-0">
                                        <div class="margin-bottom-30">
                                            <textarea rows="4" name="message" id="message" class="form-control g-textarea-noresize" placeholder="Message"></textarea>
                                        </div>
                                        <p><button type="submit" class="btn-u btn-u-lg btn-u-upper rounded-2x">Submit</button></p>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="message">
                                <i class="rounded-x fa fa-check"></i>
                                <p>Your message was successfully sent!</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid with-bg-2">
        <div class="subfooter">
            <div class="row">
                <div class="no-side-padding">
                    <ul class="list-inline social-list text-center">
                        <li class="facebook social-item"><a class="btn-block" href="#"><i class="fa fa-facebook icon-2x"></i></a></li>
                        <li class="pin social-item"><a class="btn-block" href="#"><i class="fa fa-pinterest icon-2x"></i></a></li>
                        <li class="dribbble social-item"><a class="btn-block" href="#"><i class="fa fa-dribbble icon-2x"></i></a></li>
                        <li class="inst social-item"><a class="btn-block" href="#"><i class="fa fa-instagram icon-2x"></i></a></li>
                        <li class="twitter social-item"><a class="btn-block" href="#"><i class="fa fa-twitter icon-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>