@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.DisplayDiscontinuedMessage)
{
    <div class="discontinued-product">
        <h4>@T("Products.Discontinued")</h4>
    </div>
}