@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-added-products-page");
}
@using Nop.Web.Models.Catalog;


<div class="heading heading-v1 margin-bottom-20">
    <h2 class="title text-center">@T("Products.NewProducts")&nbsp;&nbsp;&nbsp;<a href="@Url.RouteUrl("NewProducts")" class="header-rss" title="@T("Products.NewProducts.RSS.Hint")"><i class="fa fa-rss header-rss-icon"></i></a></h2>
    @*<p></p>*@
</div>
@if (Model.Count > 0)
{
    <div class="filter-results">
        @for (var i = 0; i < Model.Count; i += 4)
        {
            var productsInRowCount = (i + 4 <= Model.Count) ? 4 : Model.Count - i;
            var products = Model.ToList().GetRange(i, productsInRowCount);

            <div class="row illustration-v2 margin-bottom-30">
                @foreach (var product in products)
                {
                    <div class="col-md-3">
                        @Html.Partial("_ProductBox", product)
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info square-box">
        No New Products are Available
    </div>
}