@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        We're sorry, an internal error occurred that prevents the request to complete.</h2>
    <p>
        Our supporting staff has been notified with this error and will address this issue
        shortly. We profusely apologize for the <strong>inconvenience</strong> and for any damage
        this may cause. You might want to try the same action at later time.
    </p>
</body>
</html>