@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved.
    *
    * This file is part of DevPartner Unify Theme.
    *
    * DevPartner Unify Theme can not be copied and/or distributed without the express
    * permission of Dev Partner LLC.
    *
    * Written by Kanstantsin Ivinki, June 2016
    * Email: info@dev-partner.biz
    * Website: http://dev-partner.biz
*@
@model EditForumTopicModel
@using Nop.Web.Models.Boards;
@{    
    Layout = "~/Views/Shared/_ColumnsOne_SkyForms.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.TopicEdit").Text);
}

@section Breadcrumb
{
    @Html.Action("ForumBreadcrumb", new { forumId = Model.ForumId, forumTopicId = Model.Id })
}


<div class="bg-color-light">
    <div class="container content-sm">
        @Html.Widget("boards_topicedit_before", Model.Id)
        @Html.Partial("_CreateUpdateTopic", Model)
        @Html.Widget("boards_topicedit_after", Model.Id)
    </div>
</div>
