<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->

<head>
    <title>App | SIJU</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/app.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/blocks.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/one.style.css">

    <!-- CSS Footer -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/footers/footer-v7.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/pace/pace-flash.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="~/Themes/Unify/assets/plugins/shhos/shhos.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/app.style.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/custom.css">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
    <!-- Header -->
    <nav class="one-page-header navbar navbar-default navbar-fixed-animate homeapp-header" data-role="navigation">
        <div class="container">
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#body">
                    <img src="~/Themes/Unify/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <li class="page-scroll home">
                            <a href="#body">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">Acerca</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#benefits">Beneficios</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#features">Descargar</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#pkapp">Porque</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#howitworks">Pantallas</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#subscribe">Subscribete</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#faqsec">Faq</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contactenos</a>
                        </li>
                        <li class="page-scroll hidden-xs hidden-sm">
                            <a href="#" class="btn-u btn-u-lg btn-u-green btn-u-upper rounded-2x">Try trial version</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- End Header -->
    <!-- Promo Block -->
    <section class="promo-section" id="intro">
        <div class="interactive-slider-v2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 promo-info">
                        <div><strong><span style="font-size: 22pt;">Di adi&oacute;s a las DISTANCIA</span><br /> </strong> <span style="font-size: 20pt;">con el nuevo CHAT instant&aacute;neo, pensado para usar en, desde y hacia CUBA.</span></div>
                        <div><span style="font-size: 12pt;">Os presentamos SIJÚ, la única app que te permite chatear en Cuba, con tu VECINO de al lado, o con "tu mejor AMIGA" que ahora vive a 2000 kms de distancia, SIN necesidad de INTERNET, en tiempo REAL, de forma INSTANTÁNEA y sin que te cobremos por tráfico.</span></div>
                        <a href="#" class="btn-u btn-banner btn-apple">
                            <i class="fa fa-android fa-2x"></i> Download App<br>
                            <span>TRIAL VERSION</span>
                        </a>
                        <a href="#" class="btn-u btn-banner btn-android" >
                            <i class="fa fa-android fa-2x"></i> Download App<br>
                            <span>FULL VERSION</span>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12 banner-img overflow-h">
                        <img class="img-responsive animated slideInUp wow" src="~/Themes/Unify/img/bannerImgRight.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Block -->
    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="g-pt-90">
                <div class="g-heading-v10 g-mb-30 text-center">
                    <h2><em class="block-name"><span>01.</span> Acerca</em> CHATEAR EN REDES TELEFONICAS SIN INTERNET <strong>YA NO ES UN SUEÑO</strong></h2>
                    <p>Sin cobrar por tráfico de datos, rápida, segura, con una interfaz moderna e innovadora, esta APP asegura que se puede chatear tanto dentro como fuera de Cuba.</p>
                </div>

                <div class="row equal-height-columns">
                    <div class="col-md-3 short-info short-info-bg-1 equal-height-column">
                        <img src="~/Themes/Unify/img/about1.jpg" alt="">
                        <div class="short-info-text">
                            <h2>Offline</h2>
                            <p>Porque no necesitas estar conectado a Internet para utilizarla. Di  Hola ;) desde la comodidad de tu casa <i class="fa fa-home fa-1x"></i> ¡!!</p>
                        </div>
                    </div>

                    <div class="col-md-3 short-info short-info-bg-2 equal-height-column">
                        <img src="~/Themes/Unify/img/about2.jpg" alt="">
                        <div class="short-info-text">
                            <h2>Chatea</h2>
                            <p>Porque puedes chatear enviando mensajes de texto tanto a tus contactos locales, como al extranjero. ¡!Ahora planear algo entre amig@s se ha vuelto muy fácil <i class="fa fa-birthday-cake fa-1x"></i>  ¡!!</p>
                        </div>
                    </div>

                    <div class="col-md-3 short-info short-info-bg-3 equal-height-column">
                        <img src="~/Themes/Unify/img/about3.jpg" alt="">
                        <div class="short-info-text">
                            <h2>Multimedia</h2>
                            <p>Recibe y envía tantas fotos o mensajes de voz quieras, sin temer pagar por ello pues sabemos que la vida compartida es mejor <i class="fa fa-photo fa-1x"></i></p>
                        </div>
                    </div>

                    <div class="col-md-3 short-info short-info-bg-4 equal-height-column">
                        <img src="~/Themes/Unify/img/about4.jpg" alt="">
                        <div class="short-info-text">
                            <h2>Rapidez</h2>
                            <p>Si tienes cobertura de datos en tu área garantizamos un Chat de mensajería INSTANTÁNEA y en tiempo real, para que tengas comunicaciones fluidas. Porque nosotr@s también odiamos las esperas <i class="fa fa-fighter-jet fa-1x"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->
    <!-- Benefits -->
    <section id="benefits">
        <div class="container">
            <div class="g-pt-90 g-pb-70">
                <div class="g-heading-v10 g-mb-65 text-center">
                    <h2><em class="block-name"><span>02.</span> Beneficios</em> ¿Porque pensamos que es — <strong>ideal para ti??</strong></h2>
                    <p>Porque cada linea de código fue hecha pensando en ti</p>
                </div>

                <div class="row equal-height-columns">
                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-envelope fa-3x"></i>
                            <h3>
                                Siju es más que un cliente de <br>
                                correo
                            </h3>
                            <p>Siju es una potente herramienta que trabaja con el principio de un correo electrónico pero pensado para que puedas hablar con tus amigos de forma ágil, amena y como en un chat.</p>
                        </div>
                    </div>

                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-server fa-3x"></i>
                            <h3>
                                Sin mediar terceros <br>
                                servidores
                            </h3>
                            <p>Entre contactos Siju solo median los servidores de correos seleccionados por cada usuario, eliminando con ello demoras en las entregas y un posible observador de su información confidencial.</p>
                        </div>
                    </div>

                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-battery-full fa-3x"></i>
                            <h3>Minimiza el consumo de su <br>bateria</h3>
                            <p>Tiene una Interfaz oscura para darle más tiempo de duración a su Batería y así contrarrestar el consumo que pueda generar mantener los Datos abiertos.</p>
                        </div>
                    </div>
                </div>

                <div class="row equal-height-columns">
                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".6s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-file-zip-o fa-3x"></i>
                            <h3>compresión para los ficheros <br>multimedia</h3>
                            <p>Siju comprime sus archivos Multimedia (Voz y Fotos) con un nivel de compresión que hace posible su subida y descarga en redes de datos extremadamente lentas.</p>
                        </div>
                    </div>

                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".8s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-dollar fa-3x"></i>
                            <h3>Ahora hablando más gastas menos<br> menos</h3>
                            <p>Para los usuarios de Cuba que habiliten el Nuevo servicio de Bolsa Nauta hemos calculado un aproximado de hasta 1300 líneas de chats antes que consuma los 5 megas que ofrece Etecsa a un valor de 1.50 CUC.</p>
                        </div>
                    </div>

                    <div class="col-md-4 benefit-box animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="1s">
                        <div class="benefit equal-height-column">
                            <i class="fa fa-signal fa-3x"></i>
                            <h3>recibe los mensajes de forma <br> instantanea</h3>
                            <p>SIJU se mantiene a la expectativa de un nuevo mensaje gracias a la relación con el Servidor. Esto le permitirá estar disponible, a todo momento y con la garantía de un consumo inferior de 0.06 centavos 24 Horas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Benefits -->
    <!-- Features -->
    <section id="features">
        <div class="container-fluid with-bg-1">
            <div class="container">
                <div class="features">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="features-img overflow-h">
                                <img class="img-responsive animated slideInLeft wow" src="~/Themes/Unify/img/awesomeFeatures.png" alt="">
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="features-text">
                                <div class="g-heading-v10 g-mb-65">
                                    <h2><em class="block-name"><span>05.</span> ¿COMO HACERLA SUYA??</em> <strong>PUES SOLO PRUEBELA </strong>y <strong>LA USARA POR SIEMPRE</strong></h2>
                                    <p>Para que usted se convenza hemos creado una versión de SIJU TRIAL que le permitirá probar su funcionamiento. Si la quiere hacer suya pues solo pagara 1.00USD por mes sin que piense en cobros adicionales por cantidad de mensajes o el volumen de datos de sus multimedia.</p>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="feature-shortinfo-icon" style="cursor:pointer">
                                            <i id="actionBtn1" class="fa fa-check fa-2x" onclick="showHideActivation('oneEmail')" style="color:#FF3366;border:1px solid #FF3366"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="feature-shortinfo-text">
                                            <h2>ACTIVACION DE UNA CUENTA</h2>
                                            <p> El pago de Sijú es Semestral permitiendo esta opción el pago individual de 6 dólares. Quedando activa nuestra APP para usted por el periodo de 6 meses.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10 subscribe" style="margin-top:-10%" id="oneEmailDiv">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="email" placeholder="Enter your email">
                                            <span class="input-group-btn">
                                                <button class="btn-u btn-sub" type="button" onclick="comprarOneEmail()">Activar</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="feature-shortinfo-icon" style="cursor:pointer">
                                            <i id="actionBtn2" class="fa fa-check fa-2x" onclick="showHideActivation('twoEmail')"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="feature-shortinfo-text">
                                            <h2>ACTIVACION DE DOS CUENTAS</h2>
                                            <p>El pago de Sijú es Semestral permitiendo esta opción el pago de dos cuentas por el importe de 12 dólares. Dando la posibilidad de activar dos cuentas por el periodo de seis meses.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10 subscribe" style="display:none;margin-top:-10%" id="twoEmailDiv">
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="email" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="email" placeholder="Enter your email">
                                                <span class="input-group-btn">
                                                    <button class="btn-u btn-sub" type="button" onclick="comprarTwoEmail()">Activar</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="pkapp" class="container">
            <div class="why-ourapp">
                <div class="row">
                    <div class="col-md-7">
                        <div class="why-ourapp-text">
                            <div class="g-heading-v10 g-mb-65">
                                <h2><em class="block-name"><span>06.</span> PORQUE NUESTRA APP</em>SIJU <strong>LA APP DISEÑADA PARA TI</strong></h2>
                                <p>Todo un equipo de diseñadores, programadores y soñadores hemos hecho esta APP pensando en Ti.</p>
                            </div>
                            <!-- Accordion v1 -->
                            <div class="panel-group acc-v1" id="accordion-1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                                ASOMBROSAS FUNCIONALIDADES
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-One" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Hemos agregado asombrosas funcionalidades a SIJU. Gran parte de ella se mueve de forma imperceptible para lograr su comunicación. Otras se dejan ver como la propia confirmación de llegada de sus mensajes o del estado de la Red de Datos en que se encuentra.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default bg-2">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                                MODERNO Y CREATIVO DISEÑO
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Two" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Diseño creativo que rompe con los esquemas de Chats blancos o sobre burbujas flotantes. Diseño pensado para darle más horas de trabajo a su Batería y menos cansancio a sus ojos.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                                ACTUALIZACIONES REGULARES
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Three" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Todo un equipo de desarrollo se encuentra perfeccionando el código de nuestra APP agregando nuevas funcionalidades para usted. Con cada  nueva actualización recibirá una notificación de descarga.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default bg-2">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                                24/7 SOPORTE PROFESIONAL
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Four" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Nuestro equipo dará una respuesta RAPIDA a cada una de las inquietudes que pueda generar la utilización de nuestro sistema.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion v1 -->
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="why-ourapp-img overflow-h">
                            <img class="img-responsive animated slideInUp wow" src="~/Themes/Unify/img/whyOurApp.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features -->
    <!-- How It Works -->
    <section id="howitworks">
        @*<div class="container-fluid with-bg-2">
                <div class="container">
                    <div class="how-it-works">
                        <div class="g-heading-v10 g-mb-65 text-center">
                            <h2 class="g-color-white"><em class="block-name"><span class="g-color-white">07.</span> How it works</em> One time used — <strong>Use forever</strong></h2>
                            <p>Integer ut sollicitudin justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>
                        <!-- Owl Carousel v4-->
                        <div class="owl-carousel-v4 owl-theme">
                            <div class="owl-slider-v4-hiw">
                                <div class="item">
                                    <img src="~/Themes/Unify/img/howItWorks2.png" alt="">
                                    <img src="~/Themes/Unify/img/howItWorks1.png" alt="">
                                    <h2>usability and progresion</h2>
                                    <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper.</p>
                                    <a class="btn-u btn-u-lg btn-u-upper rounded-2x" href="#">Learn more</a>
                                </div>

                                <div class="item">
                                    <img src="~/Themes/Unify/assets/img-temp/owl1.png" alt="">
                                    <img src="~/Themes/Unify/assets/img-temp/owl2.png" alt="">
                                    <h2>User Manual</h2>
                                    <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem.</p>
                                    <a class="btn-u btn-u-lg btn-u-upper rounded-2x" href="#">Learn more</a>
                                </div>

                                <div class="item">
                                    <img src="~/Themes/Unify/assets/img-temp/owl1.png" alt="">
                                    <img src="~/Themes/Unify/assets/img-temp/owl2.png" alt="">
                                    <h2>made with love</h2>
                                    <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
                                    <a class="btn-u btn-u-lg btn-u-upper rounded-2x" href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Owl Carousel v4 -->
                    </div>
                </div>
            </div>*@

        <div class="container">
            <div class="app-screens">
                <div class="g-heading-v10 g-mb-65 text-center">
                    <h2><em class="block-name"><span>08.</span> Capturas de pantalla</em> Mira<strong> como funciona</strong></h2>
                </div>

                <div class="cube-portfolio">
                    <div id="filters-container" class="cbp-l-filters-button">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Todo</div>
                        <div data-filter=".inicio" class="cbp-filter-item">Inicio</div>
                        <div data-filter=".chat" class="cbp-filter-item">Chat</div>
                        <div data-filter=".funcionalidades" class="cbp-filter-item">Funcionalidades</div>
                        <div data-filter=".otras" class="cbp-filter-item">Otras</div>
                        @*	<div data-filter=".cube-list" class="cbp-filter-item">List</div>*@
                    </div><!--/end Filters Container-->

                    <div id="grid-container" class="cbp-l-grid-gallery">
                        <div class="cbp-item inicio">
                            <a href="~/Themes/Unify/img/inicio.png" class="cbp-caption cbp-lightbox" data-title="custom title 1">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/inicio.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item inicio">
                            <a href="~/Themes/Unify/img/inicio1.png" class="cbp-caption cbp-lightbox" data-title="custom title 2">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/inicio1.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item inicio">
                            <a href="~/Themes/Unify/img/funcionalidades.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item chat">
                            <a href="~/Themes/Unify/img/chat3.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 5">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/chat3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item chat">
                            <a href="~/Themes/Unify/img/chat.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 7">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/chat.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item chat">
                            <a href="~/Themes/Unify/img/chat1.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 8">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/chat1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item chat">
                            <a href="~/Themes/Unify/img/chat2.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 9">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/chat2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades5.png" class="cbp-caption cbp-lightbox" data-title="custom title 12">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades5.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 6">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades1.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 10">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/chat1.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 8">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/chat1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades2.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 11">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades3.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 12">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item funcionalidades">
                            <a href="~/Themes/Unify/img/funcionalidades4.jpg" class="cbp-caption cbp-lightbox" data-title="custom title 4">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/funcionalidades4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item otras">
                            <a href="~/Themes/Unify/img/otras.png" class="cbp-caption cbp-lightbox" data-title="custom title 12">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Themes/Unify/img/otras.png" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">+</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End How It Works -->
    <!-- Subscribe -->
    <section id="subscribe">
        <div class="container-fluid with-bg-1">
            <div class="subscribe">
                <div class="g-heading-v10 g-mb-65">
                    <h2><em class="block-name"><span>09.</span> Suscríbase </em> Suscríbase <strong>para mantenerse informado</strong></h2>
                    <p>Con esta opción le enviaremos informaciones sobre actualizaciones de nuestro sistema, así como nuevos servicios que estaremos agregando próximamente.</p>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn-u btn-sub" type="button">Submit</button>
                    </span>
                </div>

                <div class="overflow-h">
                    <img class="img-responsive animated slideInUp wow" src="~/Themes/Unify/img/subscribe.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Subscribe -->
    <!-- FAQ -->
    <section id="faqsec">
        <div class="container">
            <div class="faq">
                <div class="g-heading-v10 g-mb-65">
                    <h2><em class="block-name"><span>10.</span> FAQ</em> Preguntas <strong>más comunes?</strong></h2>
                    <p>A continuación, las preguntas más comunes de los usuarios en el uso de nuestra APP.</p>
                </div>

                <!-- Tab v1 -->
                <div class="tab-v1">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#everything" data-toggle="tab">Todos</a></li>
                        <li><a href="#lento" data-toggle="tab">¿Lentos accesos a Nauta?</a></li>
                        <li><a href="#saldo" data-toggle="tab">¿Si dejo abiertos datos me gastara Saldo?</a></li>
                        <li><a href="#mensajes" data-toggle="tab">¿Cuánto cobra sijú por mensajes?</a></li>
                        <li><a href="#escrito" data-toggle="tab">¿Cómo sé que me han escrito?</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="everything">
                            <div class="tab-in">
                                <h4>¿Lentos accesos a Nauta?</h4>
                                <p>Esta APP fue optimizada para su uso en redes lentas como las que mantiene Cuba. Pero no solo lentitud podrían primar en su conexión a Datos, pues existen zonas en las que se carece de conectividad o en las que no se encuentran cubiertas las necesidades de conexión por densidad poblacional dificultando o imposibilitando su acceso a las Redes de Datos y de esta manera viéndose afectado el desempeño de nuestra aplicación.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                            <div class="tab-in">
                                <h4>¿Si dejo abiertos datos me gastara Saldo?</h4>
                                <p>Para que Siju funcione como un chat activo usted deberá mantener abierto el acceso a datos para esta aplicación. Existen móviles en los que los usuarios no puedan limitar el acceso a datos a otras aplicaciones, pero, no tema, pues en el caso de Cuba la compañía de Etecsa solo cobrara por las aplicaciones que generen tráfico con acceso a Nauta, aun cuando muestre su movil megas transferidos de Datos por otras aplicaciones. Hemos calculado que mantener Siju activo por 24 horas supone unos 0.06 centavos de CUC </p>
                                @*<a href="#">Read More</a>*@
                            </div>
                            <div class="tab-in">
                                <h4>¿Cuánto cobra sijú por mensajes?</h4>
                                <p>El trafico que usted genere sobre nuestra aplicación es totalmente gratuito. Siju no tiene en cuenta megas de multimedia, líneas de Chats u horas online. Solo cobramos a nuestros usuarios 1.00USD por mes para el mantenimiento de esta APP como una de las mejores herramientas de comunicación actual con Cuba.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                            <div class="tab-in">
                                <h4>¿Cómo sé que me han escrito?</h4>
                                <p>Siju se mantiene en todo momento a la expectativa de la llegada de un nuevo mensaje por lo que de contar su móvil con una mínima conectividad a datos, sijú descargara su mensaje sin que usted participe en el proceso.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="lento">
                            <div class="tab-in">
                                @*<h4>¿Lentos accesos a Nauta?</h4>*@
                                <p>Esta APP fue optimizada para su uso en redes lentas como las que mantiene Cuba. Pero no solo lentitud podrían primar en su conexión a Datos, pues existen zonas en las que se carece de conectividad o en las que no se encuentran cubiertas las necesidades de conexión por densidad poblacional dificultando o imposibilitando su acceso a las Redes de Datos y de esta manera viéndose afectado el desempeño de nuestra aplicación.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="saldo">
                            <div class="tab-in">
                                @*<h4>¿Si dejo abiertos datos me gastara Saldo?</h4>*@
                                <p>Para que Siju funcione como un chat activo usted deberá mantener abierto el acceso a datos para esta aplicación. Existen móviles en los que los usuarios no puedan limitar el acceso a datos a otras aplicaciones, pero, no tema, pues en el caso de Cuba la compañía de Etecsa solo cobrara por las aplicaciones que generen tráfico con acceso a Nauta, aun cuando muestre su movil megas transferidos de Datos por otras aplicaciones. Hemos calculado que mantener Siju activo por 24 horas supone unos 0.06 centavos de CUC </p>
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="mensajes">
                            <div class="tab-in">
                                <h4>@*¿Cuánto cobra sijú por mensajes?*@</h4>
                                <p>El trafico que usted genere sobre nuestra aplicación es totalmente gratuito. Siju no tiene en cuenta megas de multimedia, líneas de Chats u horas online. Solo cobramos a nuestros usuarios 1.00USD por mes para el mantenimiento de esta APP como una de las mejores herramientas de comunicación actual con Cuba.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="escrito">
                            <div class="tab-in">
                                <h4>@*¿Cómo sé que me han escrito?*@</h4>
                                <p>Siju se mantiene en todo momento a la expectativa de la llegada de un nuevo mensaje por lo que de contar su móvil con una mínima conectividad a datos, sijú descargara su mensaje sin que usted participe en el proceso.</p>
                                @*<a href="#">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tab v1 -->
            </div>
        </div>
    </section>
    <!-- End FAQ -->
    <!-- Footer -->
    <section id="contact">
        <div class="container-fluid with-bg-2 no-side-padding">
            <div class="container">
                <div class="footer">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="g-heading-v10 g-mb-65">
                                <h2 class="g-color-white"><em class="block-name"><span class="g-color-white">11.</span> Contacto</em> <strong>Contactenos</strong></h2>
                                <p>Utilizando esta vía usted podrá enviarnos sus preguntas o criterios acerca de nuestra aplicación.</p>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <form action="#" method="post" id="sky-form3" class="sky-form contact-style">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-0">
                                            <div class="margin-bottom-30">
                                                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                            </div>

                                            <div class="margin-bottom-30">
                                                <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-md-offset-0">
                                            <div class="margin-bottom-30">
                                                <textarea rows="4" name="message" id="message" class="form-control g-textarea-noresize" placeholder="Message"></textarea>
                                            </div>
                                            <p><button type="submit" class="btn-u btn-u-lg btn-u-upper rounded-2x">Submit</button></p>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="message">
                                    <i class="rounded-x fa fa-check"></i>
                                    <p>Your message was successfully sent!</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid with-bg-2">
            <div class="subfooter">
                <div class="row">
                    <div class="col-md-12 no-side-padding">
                        <ul class="list-inline social-list text-center">
                            <li class="facebook social-item"><a class="btn-block" href="#"><i class="fa fa-facebook icon-2x"></i></a></li>
                            <li class="pin social-item"><a class="btn-block" href="#"><i class="fa fa-pinterest icon-2x"></i></a></li>
                            <li class="dribbble social-item"><a class="btn-block" href="#"><i class="fa fa-dribbble icon-2x"></i></a></li>
                            <li class="inst social-item"><a class="btn-block" href="#"><i class="fa fa-instagram icon-2x"></i></a></li>
                            <li class="twitter social-item"><a class="btn-block" href="#"><i class="fa fa-twitter icon-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->
    <!-- JS Global Compulsory -->
    <script src="~/Themes/Unify/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    @*<script src="~/Themes/Unify/assets/plugins/smoothScroll.js"></script>*@
    <script src="~/Themes/Unify/assets/plugins/jquery.easing.min.js"></script>
    @*<script src="~/Themes/Unify/assets/plugins/pace/pace.min.js"></script>*@
    <script src="~/Themes/Unify/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Themes/Unify/assets/plugins/modernizr.js"></script>
    <script src="~/Themes/Unify/assets/plugins/shhos/shhos.js"></script>
    @*<script src="~/Themes/Unify/assets/plugins/wow/wow-ini-themes.js"></script>*@

    <!-- JS Page Level-->
    <script src="~/Themes/Unify/assets/js/one.app.js"></script>
    <script src="~/Themes/Unify/assets/js/plugins/pace-loader.js"></script>
    <script src="~/Themes/Unify/assets/js/plugins/owl-carousel2.js"></script>
    <script src="~/Themes/Unify/assets/js/plugins/cube-portfolio.js"></script>
    <script src="~/Themes/Unify/assets/js/forms/contact.js"></script>
    <script src="~/Themes/Unify/assets/js/pages/siju.js"></script>
    <script src="~/Themes/Unify/assets/js/pages/ajaxCartPige.js"></script>
    <script>
		$(function() {
			App.init();
			OwlCarousel.initOwlCarousel();
			ContactForm.initContactForm();
		});
    </script>
    <!--[if lt IE 10]>
      <script src="~/Themes/Unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>
</html>
